<!DOCTYPE html>

<html>
<head>
    <style>
        .dropdown .dropdown-menu {
            width: auto;
        }
    </style>

    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
  
    <meta name="viewport" content="width=device-width, initial-scale=1">




    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


    <title> E@T</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
       
        <a class="navbar-brand" style="color:white"> <img src="~/Content/Capture.png" width="200" height="60" /> </a>
       
        <div class=" topnav-right  ml-auto" typeof="button" @*id="navbarNavDropdown"*@>
            <ul class="navbar-nav w-100">
                <li class="nav-item dropdown  ml-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
                        <span style="color:white"> <i class="fa fa-user fa-2x" aria-hidden="true"> </i> </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#" style="font-size:small"> Logout</a>
                        <a class="dropdown-item" href="#" style="font-size:small"> Change Password</a>
                    </div>
                </li>
            </ul>
        </div>
        
          

       
    </nav>
    
    <footer class="page-footer font-small blue">
      
        <div class="footer-copyright footer py-3">
            <img src="~/Content/logo_white-blue.png" width="80" height="28"> © 2020 EPAM Systems.


        </div>
    </footer>
    @RenderBody()
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
