<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />



    <title>E@T</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @*<a class="navbar-brand" style="color:white"><img src="~/Content/logo_white-blue.png" width="80" height="28"></a>*@
        <a class="navbar-brand" style="color:white"><img src="~/Content/Capture.png" width="200" height="60" /></a>
            @*<img src="~/Content/Capture.PNG" />*@
            @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>*@
            @*<a class="navbar-brand TitleText" style="color:white">EAT</a>*@
            @*navbar-brand*@
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            @*<button class="navbar-toggler mr-auto navbar-brand" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>*@

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="nav navbar-nav ml-auto">

                    @*<li><a href="#">Logout</a></li>*@
                    <li>
                        <a class="btn btn-success" href="#">LOGOUT</a>
                        @*d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3*@
                    </li>
                </ul>
            </div>
</nav>
    @*<div class="Header">
            <img src="~/Content/logo_white-blue.png">
            <main class="Title">E@T</main>
            <a href="https://www.w3schools.com/css/css_howto.asp" class="Logout">Logout</a>

        </div>*@
<footer class="footer">
    <img src="~/Content/logo_white-blue.png" width="80" height="28">

    © 2020 EPAM Systems
</footer>


    
    
    




    @RenderBody()
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
